html {
    scroll-behavior: smooth;
}
@viewport {
    zoom: 1;
}

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-color: #C6E2D4;
    border-bottom-style: solid;

  }
  .left-header {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    font-family: 'Nunito', sans-serif;   
    font-size: 16px;
    padding: 0 0 6px 25%;
  }

  .left-item {
    display: flex;
    flex-direction: column;
    color: #5C8D89;

  }
  .right-header {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 0 25% 0 0;
    font-family: 'Nunito', sans-serif;   
    font-size: 22px;
    font-weight: normal;
  }

  .right-item {
    display: flex;
    padding-left: 10%;
    padding-top: 4px;
  }
  
  a:visited,
  a:link {
    color: #5C8D89;
    text-decoration: none;
  }
  a:active,
  a:hover {
    color: #EC9C21;
  } 
  
  body {
    background-color: #F4F2EA;
  }
  
.intro {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

#emoji {
  padding-left: 20px;
  padding-top: 10px;
}

.h1{
  display: flex;
  font-family: 'Nunito', sans-serif;   
  font-size: 52px;
  font-weight: normal;
  color: #74B49B;
  padding: 6% 0 0 25%;
}

.profile{
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: 'Frank Ruhl Libre';   
  font-size: 25px;
  font-weight: normal;
  color: #383838;
  padding: 12px 0 0 25%;
}

p {
   margin-top: -1px;
   width: 50%;
  }

#profile-button{
  max-width: 28%;
  height: auto;
  padding-top: 8px;
}


