html {
    scroll-behavior: smooth;
  }
  
@viewport {
  width: device-width;
  /* zoom: 1; */
}

  .header {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    background-color: #F4F2EA;
    border-bottom-width: 1px;
    border-bottom-color: #C6E2D4;
    border-bottom-style: solid;
    padding-top: 6px;
    z-index: 999;

  }

  .left-header {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    font-family: 'Nunito', sans-serif;   
    font-size: 16px;
    padding: 0 0 6px 25%;
  }

  .left-item {
    display: flex;
    flex-direction: column;
    color: #5C8D89;

  }
  .right-header {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 2px 25% 0 0;
    font-family: 'Nunito', sans-serif;   
    font-size: 22px;
    font-weight: normal;
  }

  .right-item {
    display: flex;
    padding-left: 10%;
    padding-top: 4px;
  }
  
  @media screen and (max-width : 540px)
  {
    .left-header { 
      display: none;
    }
    .right-header{
      font-size: 24px;
      width: 100%;
      justify-content: center;
      padding: 0 12% 4px 8%;
    }
    .right-item{
      padding-left: 8%;
    }
  }
  
  @media screen and (min-width: 540px) and (max-width: 1280px)
  {
    .left-header { 
      font-size: 14px;
      padding-left: 16%;
    }
    .right-header{
      padding-right: 12%;
    }
    .right-item{
      padding-left: 6%;
    }
  }

  .header a:visited,
  .header a:link {
    color: #5C8D89;
    text-decoration: none;
  }
  .header a:active,
  .header a:hover {
    color: #EC9C21;
  } 
  
  body#page1{
    background-color:#F4F2EA;
    margin: 0;
    padding: 0;
  }

  body#page2{
    background-color: #EE978A;
    margin: 0;
    padding: 0;
  }

.intro {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

#emoji {
  padding-left: 20px;
  padding-top: 10px;
}

img.resize {
  width: 40px;
  height: auto;
}

.h1{
  display: flex;
  font-family: 'Nunito', sans-serif;   
  font-size: 52px;
  font-weight: normal;
  color: #74B49B;
  padding: 6% 0 0 25%;
}

.profile{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 25%;
}

.profile-p {
  display: inline-flex;
  flex-direction: column;
  font-family: 'Frank Ruhl Libre';   
  font-size: 25px;
  font-weight: normal;
  color: #383838;
  }
.profile-p > div{
  margin-bottom: 16px;
}

#profile-button{
  max-width: 188px;
  height: auto;
  padding-top: 8px;
  outline: none;
}

@media screen and (max-width : 540px)
{
  #emoji {
    padding-left: 12px;
    padding-top: 6px;
    width: 30px;
    height: auto;
  }
  .h1{
    font-size: 36px;
    padding: 10% 0 0 18%;
  }
  .profile{
    width: 66%;
    padding-left: 18%;
  }

  .profile-p {
    font-size: 18px;
  }

  #profile-button{
    max-width: 150px;
    height: auto;
    padding-top: 4px;

  }
}
@media screen and (min-width: 540px) and (max-width: 1280px)
{
  .h1{
    font-size: 46px;
    padding: 10% 0 0 16%;
  }
  .profile{
    width: 70%;
    padding-left: 16%;
  }
  .profile-p {
    font-size: 22px;
  }
  #profile-button{
    padding-top: 10px;
    height: auto;
  }
}

/* PROJECTS */

.projects{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
  width: 56%;
  padding: 26px 0 0 24.8%;
}

.project-item{
  padding-bottom: 26px;
}

.item-box {
  max-width:92%;
  max-height: auto;
  position: relative;
  overflow: hidden;
}

.item-description{
  font-family: 'Nunito', sans-serif; 
  font-weight: 200;
  padding: 6% 8% 8% 10%;  
  text-align: left;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.9;
}

img {
  max-width:100%;
  max-height: auto;
} 

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 98%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5C8D89;
  }
  
.item-box:hover .overlay {
  opacity: 0.9;
}

.item-box:hover {
  max-width:100%;
}

img:hover {
  max-width:96%;
}
  
.h2{
  font-family: 'Frank Ruhl Libre';   
  font-size: 18px;
  font-weight: normal;
  color: #5C8D89;
}

.h3{
  font-family: 'Nunito', sans-serif; 
  font-size: 28px;
  font-weight: normal;
  color: #383838;
}

@media screen and (max-width : 540px)
{
  .projects{
    width: 68%;
    padding: 26px 0 0 18%;
  }
  .item-description{
    padding-top: 4%;  
    line-height: 16px;
    font-size: 14px;
  }
  .h2{
    font-size: 17px;
  }
  .h3{
    font-size: 21px;
  }
}
@media screen and (min-width: 540px) and (max-width: 940px)
{

  .projects{
    width: 68%;
    padding: 26px 0 0 18%;
  }
}

@media screen and (min-width: 940px) and (max-width: 1375px)
{
  .projects{
    width: 76%;
    padding: 26px 0 0 14%;
  }

  .overlay {
    width: 100%;
    height: 98%;
  }
    
  .item-box:hover {
    max-width:96%;
  }
}
/* ABOUT SECTION */

.about{
  position: absolute;
  top: 56px; /* Header Height */
  bottom: 0px;
  width: 100%;
}

.h5{
  position: absolute;
  top: 0px;
  display: flex;
  font-family: 'Nunito', sans-serif;   
  font-size: 52px;
  font-weight: normal;
  color: #F4F2EA;
  padding: 6% 0 0 25%;
}

.about-intro {
  position: absolute;
  top: 172px;
  display: flex;
  flex-direction: column;
  width: 29%;
  padding-left: 25%;
}

.about-p {
  display: inline-flex;
  flex-direction: column;
  font-family: 'Frank Ruhl Libre';   
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
  }
.about-p > div{
  margin-bottom: 24px;
}

#about-button{
  display:flex;
  max-width: 188px;
  height: auto;
  padding-top: 8px;
  outline: none;
}

#rectangle{
  position:fixed;
  top:0px;
  width:280px;
  margin-left:57%;
  bottom:0px;
  z-index: -1;
  background:#5C8D89;
}

#leaf{
  position: absolute;
  top:72px;
  margin-left:57.5%;
  width: 268px;
  height: auto;
}

.quick-p {
  display: flex;
  flex-direction: column;
  position:absolute;
  top:356px;
  bottom:0px;
  width:260px;
  margin-left:58.5%;
  font-family: 'Frank Ruhl Libre';   
  font-size: 17px;
  font-weight: normal;
  color: #FFFFFF;
  }
.quick-p > div{
  margin-bottom: 2px;
}

.quick-p a:visited, .quick-p a:link {
  color: #FFFFFF;
  text-decoration: none;
}
.quick-p a:active, .quick-p a:hover {
  color: #EC9C21;
} 

.socials{
  display:flex;
  padding-top: 18px;
}

#social-button{
  padding-right: 16px;
  padding-top: 12px;
  outline: none;

}

#spacer{
  margin-top: 16px;
}

@media screen and (max-width : 540px)
{
  .arrow-wrap{
    display: none;
  }
}
.arrow-wrap {  
  padding-left:50%;
  position: relative;
  bottom: -90px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
  -moz-animation: arrow 0.5s 1s infinite ease-out alternate;
  -o-animation: arrow 0.5s 1s infinite ease-out alternate;
  animation: arrow 0.5s 1s infinite ease-out alternate;
}


.arrow-wrap:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.arrow {
  padding: 10px;
  border-left: solid 5px #74B49B;
  border-bottom: solid 5px #74B49B;
  position:relative;
  display: inline-block;
}

.arrow-down {
  transform: rotate(-45deg);
  bottom: 70px;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 10px;
  }
}

@-moz-keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 10px;
  }
}

@-o-keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes arrow {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: -90px;
  }
}

