/* @font-face */

@font-face{
    font-family: "Frank Ruhl Libre";
    src: url("/fonts/FrankRuhlLibre/FrankRuhlLibre-Regular.ttf");
    
    font-family: "Nunito";
    src: url("/fonts/Nunito/Nunito-Regular.ttf");


}